@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+NZ:wght@100..400&display=swap");
:root{
    --primary-color:#345464;
    --secondary-color:#123a47;
    --accent1-color:#316379;
    --accent2-color:#294451;

    --heading-font:"Playwrite GB S", serif;
    --paragraph-font:"italic", serif;

    --nav-background-color:#364643;
    --nav-link-color:#248657;
    --nav-hover-link-color:#147914;
    --nav-hover-background-color:#134713;
}
h1, h2 {
    font-family:var(--heading-font);
    color:var(--primary-color);
}
h1{
    position: absolute;
}
article{
    position: absolute;
}
div{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    
}
img{
    float: right;
}


