@import url(´https://fonts.google.com/share?selection.fahttps://fonts.google.com/share?selection.family=Oswald:wght@200..700|Playwrite+MX:wght@100..400mily=Playwrite+NZ:wght@100..400|Playwrite+US+Trad:wght@100..400´);
body{
    font-family: (var--paragraft font);
    max-width: 960px;
    padding: 20px;
}
:root{
    --primary-color: #718481;
    --secondary-color: #6D868A;
    --accent1-color: #698792;
    --accent2-color: #6B8993;

    --heading-font:"_____", serif;
    --paragraph-font: "_____", serif;

    --nav-background-color: #C5D9E2;
    --nav-link-color: #A1C6EA;
    --nav-hoder-link-color: #507DBC;
    --nav-hover-background-color: #5DA399;
}
body{
    font-family: var(--paragraph-font='Times New Roman', Times, serif);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color=#5DA399)
}
header{
    padding: 20px;
    background-color: var(--accent1-color=brown);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color=crimson);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color=coral);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color=cornsilk);
}
nav a:hover{
    color: var(--nav-hover-link-color=darkgreen);
    background-color: var(--nav-hover-background-color=lightgreen);
}