@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+NZ:wght@100..400&display=swap');
body{
    font-family:"Playwrite GB S";
    max-width: 960px;
    padding: 20px;
}
:root{
    --primary-color: #718481;
    --secondary-color: #6D868A;
    --accent1-color: #698792;
    --accent2-color: #6B8993;

    --heading-font:"normal", serif;
    --paragraph-font: "italic", serif;

    --nav-background-color: #C5D9E2;
    --nav-link-color: #A1C6EA;
    --nav-hoder-link-color: #507DBC;
    --nav-hover-background-color: #5DA399;
}
body{
    font-family: var(--paragraph-font=italic,normal,normal);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Playwrite GB S';
    color:#5DA399
}
header{
    padding: 20px;
    background-color: var(--accent1-color=brown);
}
p{
    padding: 25px;
}
nav{
    background-color:crimson;
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color:coral;
    text-decoration: italic;
    padding: 1rem;
}
nav a:link , nav a:visited{
    color: var(--nav-link-color=cornsilk);
}
nav a:hover{
    color: var(--nav-hover-link-color=darkgreen);
    background-color: var(--nav-hover-background-color=lightgreen);
}
main{
    max-width: 840px;
}
font-face {
    font-family: 'Playwrite GB S';
    font-style: italic;
    font-weight: 100 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playwritegbs/v5/oPWU_kFkk-s1Xclhmlemy7jsNS51Znk.woff2) format('woff2');
}
 
::after {
    font-family: 'Playwrite GB S';
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playwritegbs/v5/oPWW_kFkk-s1Xclhmlemy7jsNR5y.woff2) format('woff2');
}
 
font-face {
    font-family: 'Playwrite NZ';
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playwritenz/v4/d6lPkaOxRsyr_zZDmUYvh2TM0g.woff2) format('woff2');
}